src/main/resources/de/baw/lomo/core/data/BAWLomoCase.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  Copyright (c) 2019-2024 Bundesanstalt für Wasserbau

  This file is part of LoMo.

  LoMo is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  LoMo is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with LoMo.  If not, see <http://www.gnu.org/licenses/>.
-->
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="BAWLomoCase" type="case"/>

  <xs:element name="customSourceFillingType" type="customSourceFillingType"/>

  <xs:element name="customSourceFromFileFillingType" type="customSourceFromFileFillingType"/>

  <xs:element name="fillingType" type="fillingType"/>

  <xs:element name="genericGateFillingType" type="genericGateFillingType"/>

  <xs:element name="keyValueEntry" type="keyValueEntry"/>

  <xs:element name="savingBasinFillingType" type="savingBasinFillingType"/>

  <xs:element name="segmentGateFillingType" type="segmentGateFillingType"/>

  <xs:element name="segmentGateVelocityFillingType" type="segmentGateVelocityFillingType"/>

  <xs:element name="sluiceGateFillingType" type="sluiceGateFillingType"/>

  <xs:element name="source" type="customSource"/>

  <xs:complexType name="case">
    <xs:sequence>
      <xs:element name="author" type="xs:string" minOccurs="0"/>
      <xs:element name="cfl" type="xs:double"/>
      <xs:element name="chamberLength" type="xs:double"/>
      <xs:element name="chamberWidth" type="xs:double"/>
      <xs:element name="deltaWaterDepthStop" type="xs:double"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="downstreamWaterLevel" type="xs:double"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="fillingType"/>
        <xs:element ref="sluiceGateFillingType"/>
        <xs:element ref="segmentGateFillingType"/>
        <xs:element ref="segmentGateVelocityFillingType"/>
        <xs:element ref="genericGateFillingType"/>
        <xs:element ref="customSourceFillingType"/>
        <xs:element ref="customSourceFromFileFillingType"/>
        <xs:element ref="savingBasinFillingType"/>
      </xs:choice>
      <xs:element name="forceComputationBounds" minOccurs="0">
        <xs:simpleType>
          <xs:list itemType="xs:double"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="numberOfNodes" type="xs:int"/>
      <xs:element name="shipAreaLookup" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" type="keyValueEntry" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="theta" type="xs:double"/>
      <xs:element name="timeMax" type="xs:double"/>
      <xs:element name="upstreamWaterLevel" type="xs:double"/>
      <xs:element name="upwind" type="xs:double"/>
    </xs:sequence>
    <xs:attribute name="version" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="fillingType" abstract="true">
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="sluiceGateFillingType">
    <xs:complexContent>
      <xs:extension base="abstractSluiceGateFillingType">
        <xs:sequence>
          <xs:element name="maximumPressureHead" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="abstractSluiceGateFillingType" abstract="true">
    <xs:complexContent>
      <xs:extension base="abstractGateFillingType">
        <xs:sequence>
          <xs:element name="prescribedJetOutletEnabled" type="xs:boolean"/>
          <xs:element name="sluiceGateDischargeCoefficientLookup" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" type="keyValueEntry" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="sluiceGateHeightLookup" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" type="keyValueEntry" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="sluiceGateWidthLookup" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" type="keyValueEntry" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="abstractGateFillingType" abstract="true">
    <xs:complexContent>
      <xs:extension base="fillingType">
        <xs:sequence>
          <xs:element name="jetCoefficientC0" type="xs:double"/>
          <xs:element name="jetCoefficientC1" type="xs:double"/>
          <xs:element name="jetCoefficientC2" type="xs:double"/>
          <xs:element name="jetCoefficientC3" type="xs:double"/>
          <xs:element name="jetOutletLookup" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" type="keyValueEntry" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="keyValueEntry">
    <xs:simpleContent>
      <xs:extension base="xs:double">
        <xs:attribute name="key" type="xs:double" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="segmentGateFillingType">
    <xs:complexContent>
      <xs:extension base="abstractSegmentGateFillingType">
        <xs:sequence>
          <xs:element name="segmentGateAngleLookup" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" type="keyValueEntry" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="abstractSegmentGateFillingType" abstract="true">
    <xs:complexContent>
      <xs:extension base="abstractGateFillingType">
        <xs:sequence>
          <xs:element name="maximumPressureHead" type="xs:double"/>
          <xs:element name="segmentGateAMueLookup" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" type="keyValueEntry" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="segmentGateVelocityFillingType">
    <xs:complexContent>
      <xs:extension base="abstractSegmentGateFillingType">
        <xs:sequence>
          <xs:element name="segmentGateVelocityLookup" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" type="keyValueEntry" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="genericGateFillingType">
    <xs:complexContent>
      <xs:extension base="abstractGateFillingType">
        <xs:sequence>
          <xs:element name="genericGateAMueLookup" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" type="keyValueEntry" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="genericGateOpeningLookup" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" type="keyValueEntry" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="maximumPressureHead" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="customSourceFillingType">
    <xs:complexContent>
      <xs:extension base="fillingType">
        <xs:sequence>
          <xs:element ref="source" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="customSource">
    <xs:sequence>
      <xs:element name="lengthOfInfluence" type="xs:double"/>
      <xs:element name="momentumFactor" type="xs:double"/>
      <xs:element name="position" type="xs:double"/>
      <xs:element name="sourceLookup" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" type="keyValueEntry" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="customSourceFromFileFillingType">
    <xs:complexContent>
      <xs:extension base="fillingType">
        <xs:sequence>
          <xs:element name="file" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="savingBasinFillingType">
    <xs:complexContent>
      <xs:extension base="abstractSluiceGateFillingType">
        <xs:sequence>
          <xs:element name="floorHeight" type="xs:double"/>
          <xs:element name="initialFillHeight" type="xs:double"/>
          <xs:element name="savingBasinSurfaceAreaLookup" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" type="keyValueEntry" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

